html,
head{

}


body {
    margin: 40;
    padding: 5;
    border: 5px solid rgb(120, 122, 230);
    border-radius: 5px;
    color: rgb(255, 252, 253);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(0, 0, 0);
    text-align:center;

}
h1 {
    color: rgb(50, 70, 182);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

